<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Udaipurites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
      <div class="scrollmenu">
        <a (click)="filter(tag)" *ngFor="let tag of tags">{{tag}}</a>
      </div>


      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let cover of covers">
          <img [src]="cover|async" alt="">
        </ion-slide>
      </ion-slides>

    <ng-container>
        <ion-row>
          <ion-col size="12" size-lg="1">
          </ion-col>
          <ion-col size="12" size-lg="10">
                <ion-row style="padding:0px;">
                  <ion-col style="padding:0px;" size="12" size-lg="4" size-md="6" *ngFor="let item of items">
                    <app-item-card [item]="item"></app-item-card>
                  </ion-col>
                </ion-row>
          </ion-col>
          <ion-col size="12" size-lg="1">
            
          </ion-col>
        </ion-row>

    </ng-container>

</ion-content>
