
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
div.scrollmenu {
  background-color: whitesmoke;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  cursor:pointer;
}

div.scrollmenu a:hover {
  background-color: #38465f;
  color:rgb(255, 255, 255);
  cursor:pointer;
}
// loading
// Feel free to use the code below <3
// Add border top/right/left/bottom colors for more variations.

.loadingspinner {
  margin: auto;
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


///////////////////////////////////////////////////////////////
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
