app-item-details {
    .item-profile {
      width: 100%;
      background-position: center center;
      background-size: cover;
      height: 250px;
    }
  
    .item-detail {
      width: 100%;
      background: white;
      position: absolute;
    }

  }
  .center {
    margin: auto;
  }
  // loading
// Feel free to use the code below <3
// Add border top/right/left/bottom colors for more variations.

.loadingspinner {
  margin: auto;
  margin-top: 200px;
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}



