<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon style="font-size: 40px" (click)="listAll()" name="arrow-back"></ion-icon>
      </ion-buttons>
    <ion-title><p>{{item.id}}</p></ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Udaipurites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-row>
          <ion-col size="12" size-lg="1">         
          </ion-col>
          <ion-col size="12" size-lg="3">                
              <ion-slides pager="true" [options]="slideOpts">
                <ion-slide *ngFor="let image of display">
                  <img tappable (click)="openPreview(display)" style="max-height:200px;" class="center" [src]="image|async" onError="this.src='../../../assets/items/blank.png'">
                </ion-slide>
                <ion-slide *ngIf="item.vedio_url" padding>
                    <iframe class="center" width="100%" height="200px" [src]="item.vedio_url|safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </ion-slide>
              </ion-slides>


                  <div class="item-detail" padding>
                    <h4>{{item.title}}</h4>
                    
                    <b style="color:green;font-size:14px"><s style="color:red">&#8377;{{item.price*110/100}}</s> &#8377;{{item.price}}</b>
                    <p style="font-size:14px;">{{item.about}}</p>
                    <ion-button size="medium" (click)="buyNow()" color="primary" ion-button > <ion-icon name="cart"></ion-icon>Buy Now</ion-button>
                  </div>
          </ion-col>
          <ion-col style="margin-top:-5px;" size="12" size-lg="6" class="item-detail" padding>

                        
                        <h5><ion-icon name="gift"></ion-icon> Description</h5>

                    <ul style="margin-top:-3px;">
                      <li *ngFor="let point of item.description"><p style="font-size:14px;margin:-2px;">{{point}}</p></li>
                    </ul>
                        <h5><ion-icon name="gift"></ion-icon> Delivery Details</h5>
                        <ul style="margin-top:-3px;">
                          <li *ngFor="let point of item.deliveries"><p style="font-size:14px;margin:-2px;">{{point}}</p></li>
                        </ul>

                        <h5><ion-icon name="gift"></ion-icon> Customization Details</h5>
                          <ul style="margin-top:-3px;">
                            <li *ngFor="let point of item.customizations"><p style="font-size:14px;margin:-2px;">{{point}}</p></li>
                          </ul>
        </ion-col>
        <ion-col size="12" size-lg="1">
         
        </ion-col>
      
        </ion-row>
</ion-content>
